<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Book Store</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="#">Book Store</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active text-white" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="available_books">Available Books</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="my_books">My Books</a>
					</li>

				</ul>
				<div>
					<a class="nav-link text-white" href="book_register">New Book Registration</a>
				</div>

			</div>
		</div>
	</nav>

	<div class="container text-center my-5">
		<h1 class="fs-1">Welcome to the Book Store</h1>
		<h6>We offer a tremendous gathering of books in the various classifications of Fiction, Non-fiction,
			Biographies, History, Religions, Self – Help, and Children. We likewise move in immense accumulation of
			Investments and Management, Computers, Engineering, Medical, College, and School content references books
			proposed by various foundations as scheduled the nation over. Besides this, we offer an expansive gathering
			of E-Books at a reasonable value.</h6>
			
			<img class="my-4 ps-5" src="images/book.png" width="500px"/>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>

</html>